html
    head
        title 422 #{dict.e422}
        meta(name="apple-mobile-web-app-title", content="Cheevr")
        meta(name="application-name", content="Cheevr")
        meta(name="msapplication-config", content="/img/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")
        link(rel="apple-touch-icon", sizes="180x180", href="/img/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="/img/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="/img/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="/img/manifest.json")
        link(rel="shortcut icon", href="/img/favicon.ico")
        link(rel="stylesheet" href="css/service.css" type="text/css")
    body.service
        h1 422
        h2 #{dict.e422}
