body, input, button, textarea
  &.service
    text-align center
    font-family Verdana, Arial, Sans-Serif
    padding 50px
    margin 0
    background #fff
    border solid 50px #8ad
  &.highlighting
    cursor crosshair

#feedbackButton
  background #fff
  border 1px solid #eee
  bottom 18px
  box-shadow 0 0 10px #ccc
  color #444
  cursor pointer
  font-size 12px
  font-weight bold
  font-family monospace
  padding 5px 50px
  position fixed
  right -50px
  transform rotate(-45deg)

#feedbackOverlay
  background #fff
  display none
  height 100%
  left 0
  opacity 0.4
  position fixed
  top 0
  width 100%

#feedbackBox
  color #444
  background #fff
  border 1px solid #fff
  border-radius 2px
  bottom 4px
  box-shadow 3px 3px 10px #aaa
  display none
  height 210px
  position fixed
  right 4px
  width 300px
  z-index 100
  textarea
    border 1px solid #fff
    border-radius 2px
    box-shadow 0 0 10px #ccc
    height 110px
    margin 0 10px 15px
    width 90%
  button
    background #fff
    border 1px solid #fff
    border-radius 2px
    box-shadow 0 0 10px #ccc
    display block
    position absolute

#feedbackSubmit
  right 15px

#feedbackCancel
  left 15px

.feedback
  outline 3px dashed #333
  &.highlighted
    outline 2px dashed #a33

.highlighted
  outline 2px dashed #3a3